.btn{
    border-radius: 3px;
    background: #d6644a;
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
    font-size: 12px;
/*    font-weight: 700;*/
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.12);
    border: none;
/*    text-transform: uppercase;*/
    transition:all 0.2s;
    &:hover{
        background:#444;
        color:#fff;
    }
}
.field{
    height: 36px;
    background: #343434;
    border: none;
    color: #ccc;
    padding: 0 20px;
    line-height: 36px;
    outline: 0;
    
}
label{
    padding:11px 10px;
    color: #bbb;
    font-weight:400;
}
.login{
    position: absolute;
    z-index: 1000;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:#1e1e1e;
    font-size:14px;
    .login-box{
        padding:20px;
        .form-group{
            margin-bottom:10px;
            span{
                min-width: 125px;
                float: left;
                line-height: 36px;
            }
        }
        .username{
            span{
                
            }
            input{

            }
        }
        .password{
            span{

            }
            input{

            }
        }
        .code-confirm{
            span{

            }
            input{
                
            }
        }
        .capcha{
            img{
                height:37px;
                float:left;
                margin-right:30px;
            }
            input{

            }
        }
        .submit{
            input{
                margin-right:25px;
            }
            a{
                &:hover{
                    text-decoration:none;
                }
            }
        }
    }
    
}
.forgot-pw{
    position: fixed;
    z-index: 1000;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: #1e1e1e;
    font-size:14px;
    .forgot-pw-box{
        display:table;
        border-spacing: 10px;
        margin:0 auto;
        padding:20px;
        .form-group{
            margin-bottom:10px;
            span{
                min-width:125px;
                display:inline-block;
            }
        }
        label{
            padding:11px 10px;
            color: #bbb;
            font-weight:400;
        }
        
        .email{
            span{
                
            }
            input{

            }
        }
        .code-confirm{
            span{

            }
            input{

            }
        }
        .capcha{
            img{
                height:37px;
                float:left;
                margin-right:30px;
            }
            input{

            }
        }
        .send-email{
            input{
                
            }
            a{
                margin-left:30px;
            }
        }
    }
}
input[type=text], input[type=password]{
    outline:none;
    border:none;
    &:focus{
        outline:none;
    }
}
input[type=button], input[type=submit]{
    outline:none;
    border:none;
    &:focus{
        outline:none;
    }
    &:hover{
        outline:none;
    }
}

@media (min-width:480px){
    
}
@media (min-width:768px){
    
}
@media (min-width:992px){
    
}
@media (min-width:1200px){
    
}