.print{
    margin-top:15px;
    .print-menu{
        padding-left:0;
        padding-right:0;
        padding-bottom: 40px;
        position:absolute;
        display:block;
        width:98%;
        &.print-menu-mobile{
            display:none;
        }
        .print-row{
            .one-print-table{
                padding:5px;
                background-color:#e8e8e8;
                background-clip:content-box;
                .print-name-table{
                    background-color:#1ba556;
                    padding:5px 10px;
                    p{
                        margin-bottom:0;
                        font-size:18px;
                        color:#fff;
                        text-align:center;
                    }
                }
                .print-list{
                    background-color:#e8e8e8;
                    padding:0 10px;
                    table{
                        width:100%;
                        tr{
                            &:nth-child(1){
                                border-bottom: 1px dashed #ccc;
                            }
                            td{
                                padding:7px 5px;
                                &:nth-child(2){
                                    width:75%;
                                }
                                &:nth-child(3){
                                    width:25%;
                                }
                            }
                            
                        }
                    }
                }
                .print-option{
                    display:table;
                    margin:0 auto;
                    .print-option-edit{
                        float:left;
                        a{
                            display:block;
                            padding:5px 10px;
                            color:#ff2828;
                            font-size:18px;
                            text-decoration:none;
                            &:hover{
                                text-decoration:none;
                            }
                            i{
                                
                            }
                        }
                    }
                    .print-option-printing{
                        float:left;
                        a{
                            display:block;
                            padding:5px 10px;
                            color:#3377a2;
                            font-size:18px;
                            text-decoration:none;
                            &:hover{
                                text-decoration:none;
                            }
                            i{
                                
                            }
                        }
                    }
                    &::after{
                        display:table;
                        content:"";
                        clear:both;
                    }
                }
            }
            &::after{
                display:table;
                content:"";
                clear:both;
            }
        }
    }
    &::after{
        display:table;
        content:"";
        clear:both;
    }
}

@media (min-width:480px){
    .print{
        .print-menu{

        }
    }
}
@media (min-width:768px){
    .print{
        .print-menu{
            padding-right:5px;
            padding-bottom:0;
            position:relative;
            width:58.3%;

        }
    }
}
@media (min-width:992px){
    .print{
        margin-top:20px;
        .print-menu{

        }
    }
}
@media (min-width:1200px){
    .print{
        .print-menu{

        }
    }
}