/*@media (min-width:480px){
    
}
@media (min-width:768px){
    
}
@media (min-width:992px){
    
}
@media (min-width:1200px){
    
}*/
@keyframes sidebar1open {
  35% {
    transform: translate(0, 7px); }
  100% {
    transform: translate(0, 7px) rotate(45deg); } }
@keyframes sidebar3open {
  35% {
    transform: translate(0, -7px); }
  100% {
    transform: translate(0, -7px) rotate(-45deg); } }
@keyframes sidebar1close {
  0% {
    transform: translate(0, 7px) rotate(45deg); }
  35% {
    transform: translate(0, 7px) rotate(0deg); }
  100% {
    transform: translate(0, 0px) rotate(0deg); } }
@keyframes sidebar3close {
  0% {
    transform: translate(0, -7px) rotate(-45deg); }
  35% {
    transform: translate(0, -7px) rotate(0deg); }
  100% {
    transform: translate(0, 0px) rotate(0deg); } }
.ink {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  transform: scale(0); }

/*animation effect*/
.ink.animate {
  animation: ripple 0.5s linear; }

@keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  100% {
    opacity: 0;
    transform: scale(2.5); } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2017, 3:28:48 PM
    Author     : dcpt
*/
@font-face {
  font-family: exo;
  src: url(../font/Exo-Regular.ttf); }
@font-face {
  font-family: lato;
  src: url(../font/Lato-Regular.ttf); }
@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot?sietb4");
  src: url("../font/icomoon.eot?sietb4#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?sietb4") format("truetype"), url("../font/icomoon.woff?sietb4") format("woff"), url("../font/icomoon.svg?sietb4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e905"; }

.icon-file-text:before {
  content: "\e922"; }

.icon-spinner9:before {
  content: "\e982"; }

.icon-search:before {
  content: "\e986"; }

.icon-cogs:before {
  content: "\e995"; }

.icon-bin2:before {
  content: "\e9ad"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-checkmark:before {
  content: "\ea10"; }

body, td, th {
  font-size: 14px;
  font-family: arial; }

body {
  padding: 0;
  margin: 0;
  color: #262626;
  background-color: #eee;
  position: relative; }

::-webkit-scrollbar {
  width: 7px;
  background-color: #ccc; }

::-webkit-scrollbar-thumb {
  background: #a0a0a0; }

* {
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

.clear {
  clear: both; }

.container {
  padding: 0;
  margin: 0 auto;
  transition: width 350ms;
  width: 100%; }

@media (min-width: 480px) {
  .container {
    width: 460px; } }
@media (min-width: 768px) {
  .container {
    width: 740px; } }
@media (min-width: 992px) {
  .container {
    width: 960px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.header {
  height: 40px;
  background-color: #174b69;
  position: relative;
  z-index: 89; }
  .header .side-bar-button {
    float: left;
    width: 45px;
    height: 45px;
    padding-top: 12px;
    margin-left: 0;
    cursor: pointer;
    z-index: 200; }
    .header .side-bar-button .one-line-bar {
      width: 22px;
      height: 2px;
      margin: 0 auto 5px;
      background-color: #f5f5f5;
      transition: background-color 0.7s; }
    .header .side-bar-button .one-line-bar:nth-child(1) {
      transform-origin: center center; }
      .header .side-bar-button .one-line-bar:nth-child(1).bt-animate-open {
        animation: sidebar1open 0.4s ease-in-out 0s 1;
        animation-fill-mode: forwards;
        background-color: #f5f5f5; }
      .header .side-bar-button .one-line-bar:nth-child(1).bt-animate-close {
        animation: sidebar1close 0.4s ease-in-out 0s 1;
        animation-fill-mode: forwards;
        background-color: #f5f5f5; }
    .header .side-bar-button .one-line-bar:nth-child(3) {
      transform-origin: center center;
      margin-bottom: 0px; }
      .header .side-bar-button .one-line-bar:nth-child(3).bt-animate-open {
        animation: sidebar3open 0.4s ease-in-out 0s 1;
        animation-fill-mode: forwards;
        background-color: #f5f5f5; }
      .header .side-bar-button .one-line-bar:nth-child(3).bt-animate-close {
        animation: sidebar3close 0.4s ease-in-out 0s 1;
        animation-fill-mode: forwards;
        background-color: #f5f5f5; }
  .header .logo {
    display: block;
    margin: 0 auto; }
    .header .logo a {
      display: block;
      color: #fff;
      font-size: 20px;
      text-align: center;
      padding-top: 8px;
      text-decoration: none;
      font-family: exo; }
      .header .logo a img {
        margin: 0 auto;
        padding-top: 2px; }
      .header .logo a:hover {
        text-decoration: none; }
  .header .theme {
    float: right;
    position: relative; }
    .header .theme > a {
      color: #f5f5f5;
      font-size: 19px;
      padding-left: 10px;
      padding-right: 10px;
      display: block;
      cursor: pointer; }
      .header .theme > a i {
        line-height: 41px; }
    .header .theme .theme-table {
      position: absolute;
      top: 100%;
      right: 0;
      width: 237px;
      padding: 6px;
      background-color: #e4e4e4;
      border-radius: 5px;
      display: none; }
      .header .theme .theme-table .inner-theme-table .one-theme {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        background-color: red;
        float: left;
        margin-left: 7px; }
        .header .theme .theme-table .inner-theme-table .one-theme a {
          display: none;
          text-align: center;
          color: #fff; }
          .header .theme .theme-table .inner-theme-table .one-theme a i {
            line-height: 30px; }
        .header .theme .theme-table .inner-theme-table .one-theme.show-theme a {
          display: block; }
      .header .theme .theme-table .inner-theme-table .one-theme:first-child {
        background-color: #174b69; }
      .header .theme .theme-table .inner-theme-table .one-theme:nth-child(2) {
        background-color: #2f789a; }
      .header .theme .theme-table .inner-theme-table .one-theme:nth-child(3) {
        background-color: #1ba556; }
      .header .theme .theme-table .inner-theme-table .one-theme:nth-child(4) {
        background-color: #de5e6f; }
      .header .theme .theme-table .inner-theme-table .one-theme:nth-child(5) {
        background-color: #16a086; }
      .header .theme .theme-table .inner-theme-table .one-theme:nth-child(6) {
        background-color: #e8529e; }
      .header .theme .theme-table .inner-theme-table::after {
        display: table;
        content: ""; }
  .header .option {
    float: right;
    position: relative; }
    .header .option > a {
      color: #f5f5f5;
      font-size: 19px;
      padding-left: 10px;
      padding-right: 10px;
      display: block;
      cursor: pointer; }
      .header .option > a i {
        line-height: 41px; }
    .header .option .option-table {
      position: absolute;
      top: 98%;
      right: 0;
      width: auto;
      display: none;
      background-color: #3b637d;
      padding: 0; }
      .header .option .option-table ul li a {
        display: block;
        color: #fff;
        padding: 7px 12px;
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
        text-decoration: none; }
        .header .option .option-table ul li a i {
          margin-right: 7px;
          min-width: 12px; }
        .header .option .option-table ul li a:hover {
          background-color: #375b73; }
  .header::after {
    display: table;
    content: "";
    clear: both; }

@media (min-width: 768px) {
  .header {
    box-shadow: 0px 0px 5px 1px #313131; } }
@media (min-width: 992px) {
  .header {
    height: 45px; }
    .header .side-bar-button {
      padding-top: 12px;
      margin-left: 4px; }
      .header .side-bar-button .one-line-bar {
        width: 25px; }
    .header .logo a {
      font-size: 23px;
      padding-top: 8px; }
    .header .theme > a {
      font-size: 22px;
      padding-left: 15px;
      padding-right: 15px; }
      .header .theme > a i {
        line-height: 45px; }
    .header .theme .theme-table {
      padding: 10px;
      width: 246px; }
    .header .option > a {
      font-size: 22px;
      padding-left: 12px;
      padding-right: 12px; }
      .header .option > a i {
        line-height: 45px; }
    .header .option .option-table {
      padding: 5px 0;
      top: 100%; }
      .header .option .option-table ul li a {
        font-size: 15px; } }
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

div.menu-side-bar {
  padding: 30px 0;
  position: absolute;
  width: 200px;
  z-index: 90;
  top: 35px;
  left: 0;
  bottom: 0;
  background-color: #3b637d;
  transition: width 0.4s; }
  div.menu-side-bar::after {
    content: "";
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #383838;
    border-bottom: 5px solid #383838; }
  div.menu-side-bar div > ul {
    width: 100%; }
    div.menu-side-bar div > ul > li.open-one-sidebar > a {
      background-color: #375b73; }
    div.menu-side-bar div > ul > li {
      position: relative;
      z-index: 99; }
      div.menu-side-bar div > ul > li::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1); }
      div.menu-side-bar div > ul > li > a {
        color: #fff;
        font-size: 17px;
        font-family: arial;
        text-decoration: none;
        display: block;
        padding: 12px 20px;
        position: relative; }
        div.menu-side-bar div > ul > li > a > i:first-of-type {
          margin-right: 10px; }
        div.menu-side-bar div > ul > li > a > i:last-of-type {
          position: absolute;
          right: 10px;
          top: calc(50% - 11px);
          line-height: 23px;
          transition: transform 0.2s; }
        div.menu-side-bar div > ul > li > a::after {
          display: table;
          content: "";
          clear: both; }
      div.menu-side-bar div > ul > li > ul.show {
        left: 0;
        top: 0;
        display: block; }
      div.menu-side-bar div > ul > li > ul {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        display: none;
        background-color: #3b637d; }
        div.menu-side-bar div > ul > li > ul > li.open-one-sidebar > a {
          background-color: #375b73;
          color: #fff; }
        div.menu-side-bar div > ul > li > ul > li {
          position: relative; }
          div.menu-side-bar div > ul > li > ul > li > a {
            color: #fff;
            font-size: 15px;
            font-family: arial;
            text-decoration: none;
            display: block;
            padding: 12px 35px;
            position: relative; }
            div.menu-side-bar div > ul > li > ul > li > a > i:first-of-type {
              margin-right: 10px; }
            div.menu-side-bar div > ul > li > ul > li > a > i:last-of-type {
              position: absolute;
              top: calc(50% - 11px);
              right: 10px;
              line-height: 23px;
              transition: transform 0.2s; }
            div.menu-side-bar div > ul > li > ul > li > a::after {
              display: table;
              content: "";
              clear: both; }
          div.menu-side-bar div > ul > li > ul > li::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1); }
          div.menu-side-bar div > ul > li > ul > li > ul.show {
            left: 0;
            top: 0;
            display: block; }
          div.menu-side-bar div > ul > li > ul > li > ul {
            width: 100%;
            position: relative;
            left: 0;
            top: 0;
            display: none;
            background-color: #3b637d; }
            div.menu-side-bar div > ul > li > ul > li > ul > li.open-one-sidebar > a {
              background-color: #375b73;
              color: #fff; }
            div.menu-side-bar div > ul > li > ul > li > ul > li {
              position: relative; }
              div.menu-side-bar div > ul > li > ul > li > ul > li > a {
                color: #fff;
                font-size: 15px;
                font-family: arial;
                text-decoration: none;
                display: block;
                padding: 12px 50px;
                position: relative; }
                div.menu-side-bar div > ul > li > ul > li > ul > li > a > i:first-of-type {
                  margin-right: 10px; }
                div.menu-side-bar div > ul > li > ul > li > ul > li > a > i:last-of-type {
                  position: absolute;
                  top: calc(50% - 11px);
                  right: 10px;
                  line-height: 23px;
                  transition: transform 0.2s; }
                div.menu-side-bar div > ul > li > ul > li > ul > li > a::after {
                  display: table;
                  content: "";
                  clear: both; }
              div.menu-side-bar div > ul > li > ul > li > ul > li::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.1); }
        div.menu-side-bar div > ul > li > ul > li:last-of-type::before {
          background: none; }
    div.menu-side-bar div > ul::after {
      display: table;
      content: "";
      clear: both; }
  div.menu-side-bar.open-sidebar {
    width: 50px; }

@media (min-width: 992px) {
  div.menu-side-bar div > ul > li > a {
    padding: 12px 17px;
    font-size: 15px; }
  div.menu-side-bar div > ul > li > ul.show {
    opacity: 1;
    left: 100%;
    position: absolute;
    visibility: visible;
    display: block; }
  div.menu-side-bar div > ul > li > ul {
    position: absolute;
    left: 120%;
    top: 0;
    opacity: 0;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
    visibility: hidden;
    display: block; }
    div.menu-side-bar div > ul > li > ul > li > a {
      padding: 12px 17px;
      font-size: 15px; }
    div.menu-side-bar div > ul > li > ul > li > ul.show {
      opacity: 1;
      left: 100%;
      position: absolute;
      visibility: visible;
      display: block; }
    div.menu-side-bar div > ul > li > ul > li > ul {
      position: absolute;
      left: 120%;
      top: 0;
      opacity: 0;
      transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
      visibility: hidden;
      display: block; }
      div.menu-side-bar div > ul > li > ul > li > ul > li > a {
        padding: 12px 17px;
        font-size: 15px; } }
.side-bar-mobile {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  background-color: #3b637d;
  width: 100%;
  display: none;
  font-size: 1em; }
  .side-bar-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .side-bar-mobile ul > li {
      position: relative; }
      .side-bar-mobile ul > li::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1); }
      .side-bar-mobile ul > li > a {
        font-family: arial;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 30px;
        font-size: 15px;
        transition: color 0.3s;
        text-align: left; }
        .side-bar-mobile ul > li > a:hover {
          text-decoration: none; }
        .side-bar-mobile ul > li > a > i {
          font-size: 16px;
          float: right;
          line-height: 22px;
          vertical-align: middle;
          transition: transform 0.2s;
          width: 30px;
          text-align: center; }
        .side-bar-mobile ul > li > a > span {
          line-height: 22px;
          vertical-align: middle; }
        .side-bar-mobile ul > li > a img {
          display: inline-block;
          margin-right: 5px;
          opacity: 0.8; }
        .side-bar-mobile ul > li > a::after {
          display: table;
          content: "";
          clear: both; }
      .side-bar-mobile ul > li > ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .side-bar-mobile ul > li > ul > li {
          position: relative; }
          .side-bar-mobile ul > li > ul > li::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1); }
          .side-bar-mobile ul > li > ul > li > a {
            font-family: arial;
            text-decoration: none;
            color: #fff;
            display: block;
            padding: 8px 50px;
            font-size: 14px;
            transition: color 0.3s; }
            .side-bar-mobile ul > li > ul > li > a:hover {
              text-decoration: none; }
            .side-bar-mobile ul > li > ul > li > a > i {
              font-size: 16px;
              float: right;
              line-height: 22px;
              vertical-align: middle;
              transition: transform 0.2s;
              width: 30px;
              text-align: center; }
            .side-bar-mobile ul > li > ul > li > a > span {
              line-height: 22px;
              vertical-align: middle; }
            .side-bar-mobile ul > li > ul > li > a::after {
              display: table;
              content: "";
              clear: both; }
          .side-bar-mobile ul > li > ul > li > ul {
            list-style: none;
            margin: 0;
            padding: 0; }
            .side-bar-mobile ul > li > ul > li > ul > li {
              position: relative; }
              .side-bar-mobile ul > li > ul > li > ul > li::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.1); }
              .side-bar-mobile ul > li > ul > li > ul > li > a {
                font-family: arial;
                text-decoration: none;
                color: #fff;
                display: block;
                padding: 8px 70px;
                font-size: 14px;
                transition: color 0.3s; }
                .side-bar-mobile ul > li > ul > li > ul > li > a:hover {
                  text-decoration: none; }
                .side-bar-mobile ul > li > ul > li > ul > li > a > i {
                  font-size: 16px;
                  float: right;
                  line-height: 22px;
                  vertical-align: middle;
                  transition: transform 0.2s;
                  width: 30px;
                  text-align: center; }
                .side-bar-mobile ul > li > ul > li > ul > li > a > span {
                  line-height: 22px;
                  vertical-align: middle; }
                .side-bar-mobile ul > li > ul > li > ul > li > a::after {
                  display: table;
                  content: "";
                  clear: both; }
              .side-bar-mobile ul > li > ul > li > ul > li > ul {
                list-style: none;
                margin: 0;
                padding: 0; }
                .side-bar-mobile ul > li > ul > li > ul > li > ul > li {
                  position: relative; }
                  .side-bar-mobile ul > li > ul > li > ul > li > ul > li::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    border-top: 1px solid rgba(255, 255, 255, 0.1); }
                  .side-bar-mobile ul > li > ul > li > ul > li > ul > li > a {
                    font-family: arial;
                    text-decoration: none;
                    color: #fff;
                    display: block;
                    padding: 8px 90px;
                    font-size: 14px;
                    transition: color 0.3s; }
                    .side-bar-mobile ul > li > ul > li > ul > li > ul > li > a:hover {
                      text-decoration: none; }
                    .side-bar-mobile ul > li > ul > li > ul > li > ul > li > a > i {
                      font-size: 16px;
                      float: right;
                      line-height: 22px;
                      vertical-align: middle;
                      transition: transform 0.2s;
                      width: 30px;
                      text-align: center; }
                    .side-bar-mobile ul > li > ul > li > ul > li > ul > li > a > span {
                      line-height: 22px;
                      vertical-align: middle; }
                    .side-bar-mobile ul > li > ul > li > ul > li > ul > li > a::after {
                      display: table;
                      content: "";
                      clear: both; }

@media (min-width: 768px) {
  .side-bar-mobile {
    top: 40px;
    max-width: 400px; } }
.image-td {
  cursor: pointer; }

.full-image {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(245, 245, 245, 0.9);
  transform: scale(0, 0);
  transition: transform 0.4s;
  visibility: hidden; }
  .full-image.full-image-max {
    visibility: visible;
    transform: scale(1, 1); }
  .full-image div {
    float: right;
    z-index: 50;
    position: relative; }
    .full-image div i {
      color: #ff4242;
      font-size: 25px;
      cursor: pointer;
      display: block;
      padding: 20px;
      font-style: normal; }
  .full-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .full-image::after {
    display: table;
    content: "";
    clear: both; }

.path {
  margin-bottom: 10px; }
  .path p {
    margin-bottom: 0; }
    .path p > a:first-child {
      white-space: nowrap;
      text-decoration: none;
      font-size: 14px;
      color: #dedede;
      display: inline-block;
      background-color: #222222;
      padding: 5px 10px;
      position: relative; }
      .path p > a:first-child::after {
        position: absolute;
        content: "";
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 15px solid #222222;
        border-right: 15px solid transparent; }
      .path p > a:first-child.path-hover {
        background-color: #000; }
      .path p > a:first-child.path-hover::after {
        border-left: 15px solid #000; }
    .path p > a:nth-child(2) {
      white-space: nowrap;
      text-decoration: none;
      font-size: 14px;
      color: #dedede;
      display: inline-block;
      background-color: #222222;
      padding: 5px 10px;
      position: relative;
      margin-left: 25px; }
      .path p > a:nth-child(2)::before {
        position: absolute;
        content: "";
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 15px solid #222222;
        border-right: 15px solid transparent; }
      .path p > a:nth-child(2)::after {
        position: absolute;
        content: "";
        right: calc(100% - 11px);
        top: 0;
        width: 0;
        height: 0;
        border-top: 14px solid #222222;
        border-bottom: 14px solid #222222;
        border-left: 15px solid transparent;
        border-right: 15px solid #222222;
        z-index: -1; }
      .path p > a:nth-child(2).path-hover {
        background-color: #000; }
      .path p > a:nth-child(2).path-hover::before {
        border-left: 15px solid #000; }
      .path p > a:nth-child(2).path-hover::after {
        border-top: 14px solid #000;
        border-bottom: 14px solid #000;
        border-right: 15px solid #000; }
    .path p > a:nth-child(3) {
      white-space: nowrap;
      text-decoration: none;
      font-size: 14px;
      color: #dedede;
      display: inline-block;
      background-color: #222222;
      padding: 5px 10px;
      position: relative;
      margin-left: 25px; }
      .path p > a:nth-child(3)::before {
        position: absolute;
        content: "";
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 15px solid #222222;
        border-right: 15px solid transparent; }
      .path p > a:nth-child(3)::after {
        position: absolute;
        content: "";
        right: calc(100% - 11px);
        top: 0;
        width: 0;
        height: 0;
        border-top: 14px solid #222222;
        border-bottom: 14px solid #222222;
        border-left: 15px solid transparent;
        border-right: 15px solid #222222;
        z-index: -1; }
      .path p > a:nth-child(3).path-hover {
        background-color: #000; }
      .path p > a:nth-child(3).path-hover::before {
        border-left: 15px solid #000; }
      .path p > a:nth-child(3).path-hover::after {
        border-top: 14px solid #000;
        border-bottom: 14px solid #000;
        border-right: 15px solid #000; }
    .path p > a:nth-child(4) {
      white-space: nowrap;
      text-decoration: none;
      font-size: 14px;
      color: #dedede;
      display: inline-block;
      background-color: #222222;
      padding: 5px 10px;
      position: relative;
      margin-left: 25px; }
      .path p > a:nth-child(4)::before {
        position: absolute;
        content: "";
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 15px solid #222222;
        border-right: 15px solid transparent; }
      .path p > a:nth-child(4)::after {
        position: absolute;
        content: "";
        right: calc(100% - 11px);
        top: 0;
        width: 0;
        height: 0;
        border-top: 14px solid #222222;
        border-bottom: 14px solid #222222;
        border-left: 15px solid transparent;
        border-right: 15px solid #222222;
        z-index: -1; }
      .path p > a:nth-child(4).path-hover {
        background-color: #000; }
      .path p > a:nth-child(4).path-hover::before {
        border-left: 15px solid #000; }
      .path p > a:nth-child(4).path-hover::after {
        border-top: 14px solid #000;
        border-bottom: 14px solid #000;
        border-right: 15px solid #000; }

@media (min-width: 768px) {
  .path {
    float: left;
    margin-bottom: 0; } }
.main .main-content {
  transition: padding-left 0.4s;
  padding-left: 5px;
  padding-top: 15px; }
  .main .main-content::after {
    display: table;
    content: "";
    clear: both; }

.footer-header {
  position: relative;
  z-index: 50; }
  .footer-header .footer-header-name {
    padding: 5px 0 15px; }
    .footer-header .footer-header-name h2 {
      text-align: center;
      color: #333;
      font-size: 22px;
      margin: 0;
      font-weight: bold; }
  .footer-header::after {
    display: table;
    content: "";
    clear: both; }

input, select {
  outline: none; }
  input:focus, select:focus {
    outline: none; }

.one-add {
  margin-bottom: 10px; }
  .one-add label {
    float: left;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 7px;
    margin-right: 10px;
    font-size: 15px;
    min-width: 100px;
    font-family: lato;
    padding-bottom: 3px; }
  .one-add .one-wrap-form {
    float: left; }
    .one-add .one-wrap-form input[type=text], .one-add .one-wrap-form input[type=number], .one-add .one-wrap-form input[type=password] {
      border: 1px solid #ccc;
      background: #fff;
      color: #333;
      font-size: 14px;
      padding: 7px 10px;
      border-radius: 3px;
      width: 260px; }
      .one-add .one-wrap-form input[type=text]:focus, .one-add .one-wrap-form input[type=number]:focus, .one-add .one-wrap-form input[type=password]:focus {
        border: 1px solid #4bac4d; }
    .one-add .one-wrap-form textarea {
      border: 1px solid #ccc;
      background: #fff;
      color: #333;
      font-size: 14px;
      padding: 7px 10px;
      border-radius: 3px;
      width: 260px;
      outline: none; }
      .one-add .one-wrap-form textarea:focus {
        border: 1px solid #4bac4d;
        outline: none; }
    .one-add .one-wrap-form select {
      border: 1px solid #ccc;
      background: #fff;
      color: #333;
      font-size: 14px;
      padding: 7px 10px;
      border-radius: 3px;
      width: 260px; }
      .one-add .one-wrap-form select:focus {
        border: 1px solid #4bac4d; }
  .one-add .one-help {
    float: left;
    position: relative;
    margin-left: 8px;
    z-index: 10; }
    .one-add .one-help > i {
      color: #c8c8c8;
      font-size: 16px;
      cursor: pointer; }
      .one-add .one-help > i:hover {
        color: #478d00; }
    .one-add .one-help .one-help-text {
      display: none;
      position: absolute;
      top: -7px;
      left: calc(100% + 15px);
      border: 1px solid #478d00;
      background-color: #fff; }
      .one-add .one-help .one-help-text .inner-one-help-text {
        padding: 5px 10px;
        position: relative; }
        .one-add .one-help .one-help-text .inner-one-help-text p {
          white-space: nowrap;
          margin-bottom: 0;
          color: #666; }
        .one-add .one-help .one-help-text .inner-one-help-text::after {
          position: absolute;
          content: "";
          top: calc(50% - 6px);
          right: 100%;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-right: 6px solid #478d00; }
  .one-add::after {
    display: table;
    content: "";
    clear: both; }

.add-table {
  background-color: #fff;
  position: relative;
  z-index: 49;
  padding-right: 5px;
  background-clip: content-box;
  border: 1px solid #e0d8d8; }
  .add-table .add-direction {
    border-bottom: 1px solid #4bac4d;
    margin-bottom: 20px;
    padding-top: 8px;
    background-color: #e5e6e6; }
    .add-table .add-direction ul li {
      float: left; }
      .add-table .add-direction ul li a {
        display: block;
        padding: 5px 20px;
        color: #666;
        text-decoration: none;
        cursor: pointer;
        font-size: 15px; }
        .add-table .add-direction ul li a:hover {
          text-decoration: none;
          color: #010101; }
      .add-table .add-direction ul li.add-acti-dir a {
        color: #010101;
        border-bottom: 2px solid #4bac4d; }
    .add-table .add-direction ul::after {
      display: table;
      content: "";
      clear: both; }
  .add-table .add-content {
    padding-bottom: 20px; }
    .add-table .add-content .add-info .add-info-left {
      padding-left: 20px;
      padding-right: 0; }
      .add-table .add-content .add-info .add-info-left .one-add-phone, .add-table .add-content .add-info .add-info-left .one-add-email, .add-table .add-content .add-info .add-info-left .one-add-address, .add-table .add-content .add-info .add-info-left .one-add-info {
        margin-bottom: 15px;
        border-bottom: 1px solid #eee; }
        .add-table .add-content .add-info .add-info-left .one-add-phone .one-wrap-form p, .add-table .add-content .add-info .add-info-left .one-add-email .one-wrap-form p, .add-table .add-content .add-info .add-info-left .one-add-address .one-wrap-form p, .add-table .add-content .add-info .add-info-left .one-add-info .one-wrap-form p {
          margin-bottom: 0;
          padding: 7px 10px;
          font-size: 15px;
          min-width: 260px; }
        .add-table .add-content .add-info .add-info-left .one-add-phone .one-help, .add-table .add-content .add-info .add-info-left .one-add-email .one-help, .add-table .add-content .add-info .add-info-left .one-add-address .one-help, .add-table .add-content .add-info .add-info-left .one-add-info .one-help {
          margin-top: 8px; }
    .add-table .add-content .add-info .add-info-right {
      padding-left: 20px;
      padding-right: 0; }
    .add-table .add-content .add-info::after {
      display: table;
      content: "";
      clear: both; }
    .add-table .add-content .add-desc {
      padding-left: 20px; }
      .add-table .add-content .add-desc .one-add-phone .one-help, .add-table .add-content .add-desc .one-add-email .one-help, .add-table .add-content .add-desc .one-add-logo .one-help, .add-table .add-content .add-desc .one-add-hotline .one-help {
        margin-top: 8px; }
  .add-table .add-submit {
    padding-bottom: 20px; }
    .add-table .add-submit .inner-add-submit {
      display: table;
      margin: 0 auto; }

input[type=submit] {
  border: none;
  background: #4bac4d;
  padding: 6px 17px;
  color: #fff;
  font-size: 15px; }
  input[type=submit]:hover {
    background: #3b963d; }
  input[type=submit]:focus {
    border: none; }

@media (min-width: 768px) {
  .main .main-content {
    padding-left: 10px;
    padding-top: 15px; }

  .footer-header .footer-header-name {
    float: left;
    padding: 27px 0; }
    .footer-header .footer-header-name h2 {
      font-size: 22px; }

  .one-add {
    margin-bottom: 15px; }
    .one-add label {
      padding-bottom: 0; }
    .one-add .one-wrap-form input[type=text], .one-add .one-wrap-form input[type=number], .one-add .one-wrap-form input[type=password] {
      width: 270px; }
    .one-add .one-wrap-form textarea {
      width: 500px; }
    .one-add .one-wrap-form select {
      width: 270px; }

  .add-table {
    padding-right: 10px; }
    .add-table .add-direction ul li a {
      padding: 7px 30px;
      font-size: 16px; }
    .add-table .add-content .add-info .add-info-left {
      padding-left: 30px; }
      .add-table .add-content .add-info .add-info-left .one-add-phone .one-wrap-form p, .add-table .add-content .add-info .add-info-left .one-add-email .one-wrap-form p, .add-table .add-content .add-info .add-info-left .one-add-address .one-wrap-form p, .add-table .add-content .add-info .add-info-left .one-add-info .one-wrap-form p {
        min-width: auto; }
    .add-table .add-content .add-info .add-info-right {
      padding-left: 30px; }
    .add-table .add-content .add-desc {
      padding-left: 30px; }

  input[type=submit] {
    padding: 7px 25px;
    font-size: 16px; } }
@media (min-width: 992px) {
  .main .main-content {
    transition: padding-left 0.4s;
    padding-left: 225px;
    padding-top: 25px; }

  .footer-header .footer-header-name {
    float: left;
    padding: 25px 0; }
    .footer-header .footer-header-name h2 {
      font-size: 24px; }

  .one-add {
    margin-bottom: 15px; }

  .add-table {
    padding-right: 15px; }
    .add-table .add-content .add-info .add-info-left {
      padding-left: 40px; }
    .add-table .add-content .add-info .add-info-right {
      padding-left: 40px; }
    .add-table .add-content .add-desc {
      padding-left: 40px; } }

/*# sourceMappingURL=footer.css.map */
